node_modules
bower_components
.tmp
.sass-cache
.DS_Store
*.orig
*.log
.vimrc
.idea
coverage
selenium
editor-functional-tests/test/config.js
test-results.xml
keyfile
app/styles/*.css
app/styles/css
scenario/Sauce-Connect-latest
test/spec/support/templates.js

#skipping over unnecesary files
dist/.htaccess
dist/robots.txt
dist/404.html
dist/favicon.ico
